body {
  margin: 0;
}

#title-block-header {
  padding: 8px;
  padding-right: 105px;
  z-index: 1000;
  background: radial-gradient(ellipse at top left, white, transparent);
}

.inputForm {
  z-index: 1000;
  position: absolute;
  bottom: 0px;
  background-color: #ffffffcc;
  padding: 8px;
  width: calc(100vw - 16px)
}

